@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Comfortaa&family=Homenaje&family=Inter:wght@300;700&family=Josefin+Sans:wght@300&family=Jura:wght@700&family=K2D:wght@200&family=Nunito:wght@500&display=swap');

.blog-page {
    background-color: #DDF8F3;
    height: 50vh;
    position: relative;
    bottom: 284px;
}

.blog-left {
    text-align: left;
    margin-left: 30px;
    padding-top: 30px;
}

.blog-head1 {
    color: #4C696D;
    font-weight: bold;
    font-size: 20px;
}

.blog-head2 {
    font-size: 13px;
    position: relative;
    bottom: 12px;
}

.blog-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.card1-desc {
    position: relative;
    background-color: black;
    bottom: 236px;
    height: 201px;
    color: white;
    right: 20px;
    opacity: 0.7;
    text-align: left;
    width: 230px;
}

.card2-desc {
    position: relative;
    background-color: black;
    bottom: 371px;
    height: 201px;
    color: white;
    right: 20px;
    opacity: 0.7;
    text-align: left;
    width: 230px;
}

.card3-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 15px;
}

.card3-img1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card3-img2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 10px;
    bottom: 28px;
}

.card3-img3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 10px;
    bottom: 53px;
}