@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Comfortaa&family=Homenaje&family=Inter:wght@300;700&family=Josefin+Sans:wght@300&family=Jura:wght@700&family=K2D:wght@200&family=Nunito:wght@500&display=swap');

.wedding {
    position: relative;
    bottom: 250px;
}

.wed-left {
    text-align: left;
    margin-left: 30px;
    padding-top: 30px;
}

.wed-head1 {
    color: #4C696D;
    font-weight: bold;
    font-size: 20px;
}

.wed-head2 {
    font-size: 13px;
    position: relative;
    bottom: 12px;
}

.wed-cards {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.wed-cardin {
    display: flex;
    position: relative;
    right: 5px;
}