@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Comfortaa&family=Jura:wght@700&family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Comfortaa&family=Josefin+Sans:wght@300&family=Jura:wght@700&family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Comfortaa&family=Inter:wght@700&family=Josefin+Sans:wght@300&family=Jura:wght@700&family=Nunito:wght@500&display=swap');

.header {
    height: 52vh;
}

.head1 h1 {
    font-family: 'Jura', sans-serif;
}

.head1 p {
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    bottom: 10px;
}

.head1 input {
    width: 450px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
}

.btn {
    width: 180px;
    border-radius: 30px;
    position: relative;
    right: 40px;
    bottom: 3.6px;
}

.options {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.head-hr {
    width: 92vw;
    position: relative;
    left: 52px;
}