* {
    overflow: hidden;
}

.bg__banner {
    background-color: #FFE6EE;
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bg-head {
    width: 40vw;
    text-align: left;
    margin-left: 30px;
}

.bg__banner>img {
    height: 50vh;
}