.award {
    background-color: #DDF8F3;
    position: relative;
    top: 220px;
    height: 50vh;
}

.award-left {
    background-color: #4E99A4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 570px;
    height: 250px;
    gap: 20px;
    position: relative;
    top: 45px;
    margin-left: 20px;
}

.review1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.review2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.review3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.award-right {
    width: 569px;
    position: relative;
    bottom: 194px;
    /* background-color: aqua; */
    right: -720px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rev-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}